p
{
	color: salmon;
	font-size: 20px;
	text-align: justify;
}

h1
{
	color: darkred;
	font-size: 70px;
	text-align: left;
}

article
{
	background-color: papayawhip;
}
.content 
{
	background-color: papayawhip;

}

.bigred article h3
{
	color: purple;
	font-size: 50px;
	text-align: left;
}
