body
{
	background-image: url('https://img.freepik.com/premium-vector/seamless-pattern-hand-drawn-funny-rabbit-background_70536-216.jpg');
  	background-repeat: repeat;
}

p
{
	color: salmon;
	font-size: 20px;
	text-align: justify;
}

h1
{
	color: darkred;
	font-size: 70px;
	text-align: left;
}

article
{
	background-color: papayawhip;
}

.content 
{
background-color: papayawhip;
}

.bigred article h3
{
	color: purple;
	font-size: 50px;
	text-align: left;
}
